.texto-menor {
    font-size: 13px;
    color: #CCCCCC;
}

.divs-facilidades {
    width: 325px;
    color: #DAFF01;
}

.botao-lilas {
    background-color: #9353FF;
}

.div-novidades {
    width: 325px;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

} 

/* 


.verde-limao {
    color: #DAFF01;
}

*/